body {
  max-width: 1000px;
  margin: 1em auto;
  padding: 0 1em;
}

* {
  box-sizing: border-box;
}

canvas {
  max-width: 450px;
}


@import './drop-placeholder';
@import './image-drop';
@import './grid';
@import './deductions';
@import './examples';
